/*Google fonts import THIS is not the final font as Marc*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser. I watched the first videos from the Love Running project
again to be sure I set up all correctly */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: rgb(18, 50, 11);
}

/* Header */
header {
    background-color: rgb(185, 232, 185);
}

h1 {
    font-family: 'Roboto', sans-serif;
}

/* Nav bar*/

#nav {
    letter-spacing: 2px;
    font-size: 110%;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a {
    text-decoration: none;
}

/* Main content */
main {
    background-color: lightcyan;
    /*Main element takes up any surplus space to push footer down got it form the Love Running to remind myself to add that*/
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: lightyellow;
}